#naslovStrane{
    text-align: center;
    text-transform: uppercase;
    color: #8F0051;
    padding: 2.5em;
}

#naslovStrane h1{
    display: inline;
    font-size: 2em;
}

.velikiDiv{
    width: 80%;
    margin: 1em auto;  
    border: 2px solid #B83E74;
    overflow: auto;
    margin-bottom: 2em;
    border-radius: 90px 10px 90px 10px;
    cursor: pointer;
}

.velikiDiv h3{
    text-align: center;
    font-size: 2em;
    color: #F1D9E7;
    background-color: #B83E74;
    padding: 0.5em;
    cursor: pointer;
}

.velikiDiv p{
    text-align: center;
    color: #8F0051;
    margin: 1em auto;
    width: 60%;
    padding: 1em;
    background-color:white;
    border-radius: 5px;
}

.slicice{
    text-align: center;
}

.slicice img{
    display: none;
    border-radius: 50%;
    width: 20%;
    margin: 0.5em 1em;
    border: 2px dashed #8F0051;
    
}

.velikiDiv:hover .slicice img{
    display: inline;
}

.pozadinskaSlika1{
    background-image: url('../img/hobi-pozadina1.jpg');
    background-size: cover;
}

.pozadinskaSlika2{
    background-image: url('../img/hobi-pozadina2.jpg');
    background-size: cover;
}

.pozadinskaSlika3{
    background-image: url('../img/hobi-pozadina3.jpg');
    background-size: cover;
}

.pozadinskaSlika4{
    background-image: url('../img/hobi-pozadina4.jpg');
    background-size: cover;
}

.pozadinskaSlika5{
    background-image: url('../img/hobi-pozadina5.jpg');
    background-size: cover;
}

@media only screen and (max-width: 768px){
    .slicice img{
        display: block;
        margin: 0.5em auto;
        width: 40%;
    }

    .velikiDiv:hover .slicice img{
        display: block;
    }

}
